# Global configuration

exclude: [Gemfile, Gemfile.lock, LICENSE.md, README.md]
timezone: Europe/Berlin

# Site Build Settings

# Jekyll-paginate-v2 configuration
#  pagination:
#   enabled: true
#   per_page: 5
#   permalink: '/page/:num/'
#   title: ':title - page :num of :max'
#   limit: 0
#   sort_field: 'date'
#   sort_reverse: true

# jekyll-paginate configuration
paginate:            5

# Build settings
markdown:            kramdown
highlighter:         rouge
permalink:           /:year/:month/:day/:title/
plugins:             [jekyll-paginate, jekyll-sitemap, jekyll-feed, jekyll-seo-tag, jemoji]

# Customise atom feed settings (this is where Jekyll-Feed gets configuration information)
title:               'Research Log'
description:         'pretending to be a scientist'
author:              'Thomas Leyh'
url:                 https://leyhline.github.io

# Defaults

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: ""
      type: "pages"
    values:
      author: "Thomas Leyh"