{% for comment in site.data.comments[page.slug] | where_exp:"item" %}
<div class="comment">
    {% assign name = comment[1].name | default: "Anonymous" %}
    {% if name == "Thomas Leyh" %}
        {% assign avatar = "/assets/img/avatar.jpg" %}
    {% else %}
        {% assign avatar_name = name | slugify %}
        {% assign avatar = "/assets/avatar/" | append: avatar_name | append: ".jpg" %}
    {% endif %}
    <img src="{{ avatar | relative_url }}" alt="{{ name }}" onerror="this.onerror=null;this.src='{{ "/assets/img/noavatar.jpg" | relative_url }}';">
    <span class="comment-name">
        {% if comment[1].url %}
            <a href="{{ comment[1].url | cgi_escape }}" target="_blank">{{ name }}</a>
        {% else %}
            {{ name }}
        {% endif %} wrote:
    </span>
    <span class="comment-date">
        {{ comment[1].date | date_to_string }}
    </span>
    <p>{{ comment[1].message | smartify }}</p>
</div>
{% endfor %}

<form class="comment" method="POST" action="https://api.staticman.net/v2/entry/leyhline/leyhline.github.io/master/comments">
    <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ site.baseurl }}{% link submitted.md %}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <input name="fields[name]" type="text" placeholder="Name (optional)">
    <input name="fields[url]" type="url" placeholder="Website (optional)">
    <textarea name="fields[message]" placeholder="Please leave a comment…" required></textarea>
    <button type="submit">Submit Comment</button>
</form>