<div class="sharing-icons">
    {% assign escaped_title = page.title | cgi_escape %}
    {% assign absolute_url = site.url | append: site.baseurl | append: page.url }} %}
    <a href="https://twitter.com/intent/tweet?text={{ escaped_title }}&amp;url={{ absolute_url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url }}&amp;title={{ escaped_title }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://plus.google.com/share?url={{ absolute_url }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
</div>
